! Monokai Dark
! special
*.foreground:   #f8f8f2
*.background:   #272822
*.cursorColor:  #f8f8f2

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5

!font settings
*.headingFont:        -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.bodyFont:           -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.labelFont:          -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.unameFont:          -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.buttonFont:         -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.dateFont:           -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.passwdFont:         -*-terminus-medium-r-*--16-*-*-*-*-*-*-*
*.font:               -*-terminus-medium-r-*--16-*-*-*-*-*-*-*

! --
! xscreensaver
! --
xscreensaver.newLoginCommand: dm-tool switch-to-greeter
xscreensaver.Dialog.foreground:         #f8f8f2
xscreensaver.Dialog.background:         #272822
xscreensaver.Dialog.topShadowColor:     #272822
xscreensaver.Dialog.bottomShadowColor:  #272822
xscreensaver.Dialog.Button.foreground:  #f8f8f2
xscreensaver.Dialog.Button.background:  #272822
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #f8f8f2
xscreensaver.Dialog.text.background:    #272822
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #49483e
xscreensaver.passwd.thermometer.background:  #272822
xscreensaver.passwd.thermometer.width:       8
